.container{
    position: absolute;
    top:50%;
    left:50%;
    max-width: 500px;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.innerContainer{
    
}
.sec{
    margin-top: 7px;
    margin-bottom: 7px;
}
.btn{
    margin-top: 5px;
}