<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="innerContainer text-center" >
            <mat-card>
                <mat-card-title>Login to your account</mat-card-title>
                <mat-error *ngIf="!loginValid">
                  The username and password were not recognized
                </mat-error>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="row">
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="userEmail" required="true">
                    <mat-icon matSuffix>mail_outline</mat-icon>
                    <mat-error *ngIf="!loginForm.get('userEmail')?.errors?.['required'] && (loginForm.get('userEmail')?.errors?.['pattern'])">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('userEmail')?.invalid && (loginForm.get('userEmail')?.dirty || loginForm.get('userEmail')?.touched) && loginForm.get('userEmail')?.errors?.['required']">
                      Email is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field>
                    <input matInput [type]="flag ? 'password' : 'text'" placeholder="Password" formControlName="userPassword"> 
                    <mat-icon (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}</mat-icon>   
                <mat-error *ngIf="!loginForm.get('userPassword')?.errors?.['minLength'] && 
                loginForm.get('userPassword').value.length !== 0">
                        Password length must be atleast 6 
                      </mat-error>
                    <mat-error *ngIf="loginForm.get('userPassword')?.invalid && 
                    (loginForm.get('userPassword')?.dirty || loginForm.get('userPassword')?.touched) 
                    && loginForm.get('userPassword')?.errors?.['required']">
                      Password is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <mat-card-footer>
                  <a [routerLink]="['/resetPassword']">Forgot Password?</a>
                </mat-card-footer>
                <div class="mt-top">
                  <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button>Log In</button>
              </div>
            </form>
                <div class="text-center">
                    <p>Don't have an account <a [routerLink]="['/register']">register</a></p>
                </div>
            </mat-card>
        
          </div>
      </div>
    </div>
</div>
